.body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffff;
  color: #434455;
}
ol,
ul {
  list-style: none;
}
.address-section-item {
  background-color: #ffffff;
  font-style: normal;
}
.address-email-phone {
  font-style: normal;
}
.main-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
}
.title-section {
  background-color: #2e2f42;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.second-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.benefit-text {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: left;
}
.button-order-service {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  text-align: center;
}
.button-order-service:hover,
:focus {
  background-color: #404bbf;
}
.studio-logo {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.upper-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.nav-buttons {
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.nav-address {
  color: #434455;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;
}
.nav-buttons:hover,
.nav-buttons:focus {
  color: #404bbf;
}

.nav-address:hover,
.nav-address:focus {
  color: #404bbf;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-cards {
  background-color: #ffffff;
}
.team-cards-section {
  background-color: #f4f4fd;
}
.benefit-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-cards-names {
  color: #2e2f42;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-card-positions {
  color: #434455;
}
.portfolio-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-items {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-item text {
  color: #434455;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  text-align: left;
  letter-spacing: 0.02em;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.footer-logo-span {
  font-family: 'Raleway', sans-serif;
  color: #f4f4fd;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
